{% extends "skiers/layout.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
<br>
<div class="container col-10">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="border border-dark p-2 bg-secondary text-center">
                <h5 class="thanks-tully">This website provides information and analysis about Section 2 and other New
                    York State Nordic Skiers</h5>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="bg-danger text-center p-1">
                <h5 style="color:darkred; text-decoration: underline;"><img src="{% static 'skiers/warning.svg' %}" width="24px" height="24px" draggable="false"><b>DISCLAIMER</b><img src="{% static 'skiers/warning.svg' %}" width="24px" height="24px" draggable="false"></h5>
                <hr style="border: 1.5px groove darkred; width:80%">
                <p style="color: darkred;">This site is 99% automated.  There may be missing race results or inaccurate data until I manually go in and fix it (Which might be a while).  All data is pulled from UnderdogTiming, so duplicate races and other errors are most likely a UnderdogTiming error, not this site's error.  Missing races are due to UnderdogTiming not listing the race as Nordic, so my program is not able to get it, hence manually intervention.</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 col-11">
    <div class="row justify-content-center">
        <div class="col-md-4 col-5">
            <div class="bg-light p-3">
                <h3>Recent Races</h3>
                <ul>
                    {% for race in races %}
                    <li><a href="{{race.site}}" target="_blank">{% if not race.title %}Could not get race title <img src="{% static 'skiers/warning.svg' %}" width="24px" height="24px" draggable="false" aria-label="Program could not get race title.  This is likely due to the race having multiple result listings on UnderdogTiming" title="Program could not get race title.  &#010; This is likely due to the race having multiple result listings on UnderdogTiming">{% else%} {{race.title}}
                            {% endif %}</a></li>
                    {%endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-6">
            <div class="bg-light p-3">
                <h3 style="text-align:center;">Best skiers</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h5 style="text-align:center">Varsity Boys</h5>
                        {% for race in b %}
                     <div class="border border-dark">
                         <h3 class="d-inline-block" style="font-family: 'Protest Strike', sans-serif;">{% if forloop.counter == 1 %} 🥇 {%elif forloop.counter == 2%} 🥈 {% elif forloop.counter == 3%} 🥉 {% else %} &nbsp; {{forloop.counter}}. {%endif%}</h3>

                            <h6 class="d-inline-block" ><a href="/racers/{{race.racer.id}}">{{ race.racer.lastname }} {{ race.racer.firstname}}</a></h6>
                            <p class="p-0">Team: <b>{{race.racer.team}}</b></p>
                    </div>
                    {% endfor %}
                </div>

                <div class="col-md-6">
                    <h5 style="text-align:center;">Varsity Girls</h5>
                    {% for race in g %}
                    <div class="border border-dark">
                         <h3 class="d-inline-block" style="font-family: 'Protest Strike', sans-serif;">{% if forloop.counter == 1 %} 🥇 {%elif forloop.counter == 2%} 🥈 {% elif forloop.counter == 3%} 🥉 {% else %} &nbsp; {{forloop.counter}}. {%endif%}</h3>
                        <h6 class="d-inline-block"><a href="/racers/{{race.racer.id}}">{{ race.racer.lastname }} {{ race.racer.firstname }}</a>
                        </h6>
                        <p class="p-0">Team: <b>{{race.racer.team}}</b></p>
                    </div>
                    {% endfor %}
                </div>
                <h5 class="mt-2 ml-3"><a href="/tracked_racers">All racers</a></h5>   
            </div>

        </div>
    </div>
</div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-10 col-10">
        <div class="bg-light p-3">
            <h3>Recent News</h3>
            <p>NA</p>
        </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-10 col-10">
        <div class="bg-light p-3">
            <h3>About</h3>
            <p>Timmy's Skiers is a site made by Timothy Portuese of the Queensbury Nordic team. All data is pulled
                directly from <a href="https://underdogtiming.com" target="_blank">Underdog Timing</a> and was inspired by <a
                    href="http://tullyrunners.com" target="_blank">Tully Runners</a>. The purpose of the site is to allow easy access to Nordic
                Results and racer data. For other developers, all the source code can be found on the Github (<a
                    href="https://github.com/Mipppy/skiers" target="_blank">Here</a>) </p>
        </div>
    </div>
</div>
</div>

{% endblock %}