{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Timmy's Skiers - {% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="{% static 'skiers/icon.png' %}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <style>
        .vertical-line {
            border-left: 1px solid rgb(141, 141, 141); /* Adjust the style as needed */
            height: 30px; /* Adjust the height as needed */
            margin-top: 5px; /* Adjust the margin as needed */
        }
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="font-family: 'Libre Baskerville', serif;">Timmy's Skiers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/tracked_racers">Tracked Racers</a>
                </li>
                <div class="vertical-line"></div>
                <li class="nav-item">
                    <a class="nav-link" href="/all_teams">Teams</a>
                </li>
                <div class="vertical-line"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Speed Ratings?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger m-0 font-weight-bold" href="/rescan" onclick="alert('Expect Slowdowns\nDo not reload/close site until loading has stopped, or scanning will not occur')">Rescan Data</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Racers, Races, ETC" aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="body">
        {% block body %}
        {% endblock%}
    </div>
</body>

</html>